.home-section {
   margin-bottom: 30px;
}

.mid-home-section {
   margin-bottom: 30px;
   padding: 20px;
}

.mid-home-section h2 {
   padding-top: 40px;
}

.mid-home-section img {
   padding: 20px;
}

.about-section span {
   font-size: 25px;
}

.ceo-section {
   margin: 30px;
}

.footer-section {
   padding: 40px;
}

.slide-section {
   margin: 30px;
}

#read-more-section h1 {
   margin-top: 30px;
}